body{
    background-color: cadetblue;
    
}
body{
    border: 10px groove greenyellow;
    margin: 0%;
    height: 1900px;
    width: 98.5%;
    
  
}
.container{
    
    height: 200px;
    display: flex;  
    font-size: 30px;
    font-style: italic;


}
.box{
    background-color: black;
 border: 7px solid red;
 color: white;
 margin: 20px;
 border-radius: 45px;
 font-weight: bold;


}
.box1{
    height: 80px;
    width: 600px;
    padding: 10px 10px 30px;
    text-align: center;
    font-size: 40px;
}
.box2{
margin-top: 29px;
margin-left: -210px ;
text-align: center;
height: 25px;
width: 380px;
font-size: 30px;
padding: 20px 20px 5px 20px;

}
.box3{
    text-align: center;
    font-size: 30px;
    width: 350px;
    margin-right: 5px;
    line-height: 50px;
padding: 5px 70px;
}
.second-container{
  display: flex;
    width: 100%
}
.circle{
    text-align: center;
    margin-top: 300px;
    margin-left: 50px;
    width: 40%;

}
p{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#circle1{
    background-color: grey;
    border: 5px solid green;
    padding: 70px 0px;
    height: 200px;
    width: 350px;
    border-radius: 50%;
    font-weight: bold;
    
}
u{
    text-decoration: underline;
}
.form{
    background-color: white;
    border: 10px dashed red;
    margin-left: 50px;
    width: 500px;
    height: 700px;
}
p{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#title{
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
label{
    color: red;
    font-size: 25px;
}
input{
    text-align: center;
}
.menu{
    border-bottom: 1px outset grey;
    text-align: center;
    height: 150px;

}
.text{
    border: 10px solid red;
    background-color: black;
    color: white;
    font-size: 50px;
    font-style: italic;
    margin: 30px 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    justify-content: space-evenly

}
.title{
    font-size: 40px;
}
.item{
    background-color: cyan;
    color: purple;
    padding: 30px;
    border: 2px solid green;
    width: 300px;
    margin: 30px 30px 0px 30px;
    border-radius: 20px;
    height: 180px;
    font-weight: bold;
    margin-bottom: 50px;

}
.menu-hr{
 margin-left: -30px;
 margin-right: -30px;
}
.last-item{

    background-color: cyan;
    color: purple;
    padding: 30px;
    border: 2px solid green;
    width: 300px;
    margin: 30px 30px 0px 30px;
    border-radius: 20px;
    height: 230px;
    font-weight: bold;
}